* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background: #5ecbe4;
    padding: 0;
}

header h1 {
    margin: 0;
    padding: 0;
}

footer {
    background: rgb(145, 209, 224);
}